body{
    background: url("images/background.png");
}

.navbar-inverse{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Bangers', cursive;
}

#link-google:hover{color:green}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

.site-header {
    font-family: 'Faustina', semi-bold italic;
    text-align: center;
}

.navbar-default{
    border-radius: 0;
    top: -20px;
}

.navbar-brand2 {
    font-family: 'Bangers', cursive;
    font-size: 175%;
}